<form (ngSubmit)="onSubmit()" [formGroup]="equipmentForm">
    <h1>Equipment Detail</h1>
    <label for="Id">Id: </label>
    <input id="id" type="text" formControlName="id">
  
    <label for="model">Model: </label>
    <input id="model" type="text" formControlName="model">
  
    <label for="brand">Brand: </label>
    <input id="brand" type="text" formControlName="brand">
  
    <label for="weight">Weight: </label>
    <input id="weight" type="text" formControlName="weight">
  
    <label for="manufactureDate">Manufacture Date: </label>
    <input id="manufactureDate" type="text" formControlName="manufactureDate">
    <a [routerLink]="['/list']">back</a>
    <button type="submit" class="accept btn-submit" [disabled]="equipmentForm.invalid">Update</button>
</form>