/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr {
    height: 35px;
}

tr:hover {
    background-color: #eee;
}
th {
    background-color: #eee;
    padding-right: 20px;
    text-align: left;
}
td {
    padding-right: 20px;
}

button[buttonType=delete] {
    background-color: red;
    color: #fff;
}