/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    tr {
        height: 35px;
    }
    tr:hover {
        background-color: #eee;
    }
    th {
        background-color: #eee;
        padding-right: 20px;
        text-align: left;
    }
    td {
        padding-right: 20px;
    }
}

button {
    color: #fff;
}

button:disabled {
    background-color: #aaa !important;
}

.warn {
    background-color: red;
}

.accept {
    background-color: green;
}

label, input {
    display: block;
}

input {
    width: 25vw;
    padding: 3px;
    margin-bottom: 10px;
}

app-modal {
    display: none;
}